@page "/"

<h1>Hello, it's Yoana!</h1>

<p>Welcome to your my app. You can view, add, edit and remove here. Let's start! First log in!</p>

<p>Git repository Assignment 1: <a href="https://github.com/YoyoMy/Assignment1DNP">https://github.com/YoyoMy/Assignment1DNP</a></p>
<p>Git repository Assignment 2: <a href="https://github.com/YoyoMy/Assignment2DNP">https://github.com/YoyoMy/Assignment2DNP</a></p>
<p>Contact: 304132@via.dk</p>